<!DOCTYPE html>
<html>
    <head>
        <title>Fitness App</title>
        <link rel="stylesheet" type="text/html" href="/css/theme1.css">
    </head>
    <body>
                <h1>my fitness app</h1>
    <div>
        <a href='/search'>Search for a product</a>
    </div>
    <div id="calendar">
    </div>
        <script src="./js/calendar.js"></script>
        <script src="./js/demo.js"></script>
    </body>
</html>
