<html>
    <head>
        <title>Fitness App</title>
        <link rel='stylesheet' href="css/theme1.css">
    </head>
    <body>
      <h1>Home Page</h1>
      <div>
        <ul>
        </ul>
        <a href='/search'>Search for a product</a>
      </div>
      <script src='javascript/appendChild.js'></script>
    </body>
</html>
