<!DOCTYPE html>
<html>
    <head>
        <title>Fitness App</title>
        <style>
            body{
                background: RGB(128,255,128);
            }
        </style>
    </head>
    <body>
        <a href='/register'>Sign Up</a>
        <a href='/login'>Login</a>
        <a href='/logout'>Sign out</a>
        
        <div>
            <input type = 'color'>

        </div>

    </body>
</html>

