<html>
  <head>
    <title>Fitness App</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/main.css">
  </head>
    <body>
      <h1>Home Page</h1>
      <div>
          <a href='/logout'>Sign out</a>
      </div>
      
        <button id='add'>Add</button>
        <% user.products.forEach(function(product){%>
              <li><%= product.report.food.name%></li>
        <% }) %>

      <script type="text/javascript" src="javascript/listcollapse.js"></script>
      <script type="text/javascript" src='javascript/addNewProduct.js'></script>
    </body>
</html>
