<% include partials/header.ejs %>


      <nav class= 'navbar navbar-default'>
        <div class= 'navbar-header'>
          <a href='#' class='navbar-brand'>FitnessApp</a>
        </div>
        <ul class = 'nav navbar-nav navbar-right'>
          <li>
            <a href='/logout'>Sign out</a>
          </li>
          
        </ul>
      </nav>

          <h1>Home Page - <%= day%></h1>

          <form action='/myhomepage' method='GET'>
            <input type='text' name='calendar' id='calendar' placeholder='Pick a date'>
            <button class="btn btn-outline-dark btn-sm">GO!</button>
          </form>

      

                <% include partials/breakfast.ejs%>
                <% include partials/lunch.ejs%>
                <% include partials/dinner.ejs%>
          
          

          <div class = 'row'>
                                  <div class = 'col-md-6'>
                                    Total
                                  </div>
                                  <div class = 'col-md-3'>
                                    <div class = 'row'>
                                      <div class = 'col-sm-3' id = 'noMargin'>
                                        <span id='proteinTotal'>0</span>
                                      </div>
                                      <div class = 'col-sm-3' id = 'noMargin'>
                                        <span id='carbsTotal'>0</span>
                                      </div>
                                      <div class = 'col-sm-3' id = 'noMargin'>
                                        <span id='fatTotal'>0</span>
                                      </div>
                                      <div class = 'col-sm-3' id = 'noMargin'>
                                        <span id='energyTotal'>0</span>
                                      </div>
                                    </div>
                                  </div>      
          </div>

      <script src = 'javascript/calcTotal.js'></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      <style>
        body {
          background: RGB(128,255,128);
        }
      </style>
      <script>flatpickr("#calendar", {dateFormat: "m/d/Y"})</script>
      <script type="text/javascript" src="javascript/listcollapseHomePage.js"></script>
    </body>
</html>
