<html>
    <head>
        <title>Products Added to your list</title>
    </head>
    <body>
        <h1>Products Added</h1>
        
        <script type="text/javascript" src="javascript/onLoad.js"></script>
    </body>
</html>

