body{
    background: RGBA(0,250,154, .8);
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    line-height: 1.5;
    margin: 5px;
    /*width: 80%;*/
    overflow-y: auto;
    overflow-x: hidden;
}

body[id='homePage']{
    background: RGB(128,255,128);
    /*background: RGBA(0,250,154, .8);*/
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    line-height: 1.5;
    margin: 5px;
    /*width: 80%;*/
    overflow-y: auto;
    overflow-x: hidden;
}

.section {
    margin-top: 20px;
}

.container {
    max-width: 500px;
    margin-top: 10%;
}
#noPaddingLeft{
    padding-left: 0;
}
#total {
    font-size: 50px;
}
#searchBtn {
    float: left;
    display: inline;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
}

h2 {
    /*border-bottom: 2px solid black;*/
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
}

h4[id='login'] {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

button[id='login']{
    width: 100%;
}

hr {
    margin: 5px 0 15px 0;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 0;
}

hr[id='search'] {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#nutrname{
    width: 300px;
    margin: 0 20px 0 0;
    float: left;
}

#total {
    font-family: 'Indie Flower', cursive;
}

/*#nutrvalue{*/
/*    width: 50px;*/
/*    margin: 0 20px 0 0;*/
/*    float: left;*/
/*}*/

/*#dash{*/
/*    width: 5px;*/
/*    margin: 0 20px 0 0;*/
/*    float: left;*/
/*}*/

/*#othermeasures{*/
/*    width: 50px;*/
/*    margin: 0 20px 0 0;*/
/*    float: left;*/
/*}*/
#nutrmeasure{
    width: 50px;
    margin-right: 20px;
}

#productLine{
    width: 100%;
    /*margin-right: 20px;*/
}

#noMargin {
    margin: 0;
    padding: 0;
    text-align: center;
}
#noMarginSearch {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    text-align: right;

}
#vPipe {
    position: absolute;
    right: 0px;
}
.removeBtn {

    background: inherit; 
    border: none; 
    padding: 0; 
    font-size: 14px; 
    cursor: pointer;
    color: red;
}

.removeBtn:hover {
    font-size: 22px;
}

.addBtn {

    background: inherit; 
    border: none; 
    color: blue;
    padding: 0; 
    font-size: 20px; 
    cursor: pointer; 
    transition: 0.1s linear;
    opacity: 0.5;
}

.addBtn:hover {
    font-size: 30px;
    opacity: 1;
}

.noMarginTop{
    margin-top: 10px;
}

/*.productName{*/
/*    display: inline-block;*/
    /*width: 100px;*/
    /*margin-right: 20px;*/
/*}*/


span[id = 'nutrmeasure']{
    display: inline-block;
    width: 100px;
    margin-right: 20px;
}

span[id = 'brLnDn']{
    font-size: 35px;
}

.hidden{
    display: none;
}
#addForm {
    display: inline;
}
#ndbno{
    display: none;
}

/*#nutrientsLine {*/
/*    width: 50px;*/
/*    text-align: center;*/
/*}*/
/*span[class='nutrientsLine']{*/
/*    margin: 0 10px 0 10px;*/
/*}*/