body{
    background: RGBA(0,250,154, .8);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    line-height: 1.5;
    /*margin: 1%;*/
    /*width: 80%;*/
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
}

h2 {
    /*border-bottom: 2px solid black;*/
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
}

hr {
    margin: 0 0 20px 0;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 0;
}

#nutrname{
    width: 300px;
    margin: 0 20px 0 0;
    float: left;
}

/*#nutrvalue{*/
/*    width: 50px;*/
/*    margin: 0 20px 0 0;*/
/*    float: left;*/
/*}*/

/*#dash{*/
/*    width: 5px;*/
/*    margin: 0 20px 0 0;*/
/*    float: left;*/
/*}*/

/*#othermeasures{*/
/*    width: 50px;*/
/*    margin: 0 20px 0 0;*/
/*    float: left;*/
/*}*/
#nutrmeasure{
    width: 50px;
    margin-right: 20px;
}

#productName{
    display: inline;
    /*width: 100px;*/
    margin-right: 20px;
}

.productName{
    display: inline;
    /*width: 100px;*/
    margin-right: 20px;
}
span{
    display: inline-block;
    width: 100px;
    margin-right: 20px;
}

.hidden{
    display: none;
}
#addForm {
    display: inline;
}
#ndbno{
    display: none;
}
#nutrientsLine {
    width: 50px;
    text-align: center;
}
span[class='nutrientsLine']{
    margin: 0 10px 0 10px;
}